* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2vw;
}
html {
  height: 100%;
}
body {
  background-image: url("./Pictures//bgm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}
.header {
  display: grid;
  grid-template-columns: 20% 50% 10% 10% 10%;
}
.space {
  margin: 2vw 10vw;
  justify-content: center;
}
h1 {
  font-size: 2.5vw;
}
.readable {
  background-color: rgba(255, 255, 255, 0.8);
}
.greeting {
  font-size: 1.5vw;
  margin: 8vw 0;
}
.component {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}
